/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px "Lato", georgia, serif;
  font-size: small;
  color: #19272d;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 0 0 1em; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #19272d;
}
a:hover {
  color: gray;
}
a:active {
  color: #19272d;
}

img {
  width: 100%;
  margin-top: 20px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.09rem;
  font-weight: 400;
  max-width: 35rem;
  margin: 3em 0 2em;
  padding: 2em 3em;
  line-height: 1.8em;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}
.header a:hover {
  border: none;
}

.title {
  display: inline-block;
}

.title a {
  color: #ff00c0;
}

.title a:hover {
  color: #000;
}

.header a.nav-link {
  color: #aaa;
  margin-left: 1em;
}

.header a.nav-link:hover {
  color: #000;
}
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post blockquote {
  margin-left: 20px;
  color: gray;
}
.post-splash {
  width: 100%;
  margin-bottom: 1em;
}
.post-title {
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
}
.post-meta {
  float: left;
  clear: both;
  margin-top: 5px;
  color: #aaa;
  font-size: 80%;
}
.post h2 {
  font-size: 1.35rem;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 50px;
}
.post pre {
  overflow: scroll;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: .4em 1em;
  margin-bottom: 2em;
  font-size: .9rem;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post a:after {
  font-family: FontAwesome;
  content: " \f08e";
  font-size: 10px;
  position: relative;
  top: -8px;
  left: -2px;
}

/* GLOSSARY */

.glossary ul {
  list-style: none;
  clear: both;
  margin-top: 50px;
}
.glossary li {
  margin-bottom: 20px;
}

.glossary li div {
  height: auto !important;
}

.glossary .term-name,
.glossary .term-name:visited {
  display: block;
  font-weight: 900;
  color: black;
  line-height: 1.3rem;
}