/**
* Hey homes.  Not too much special going on here.  Still working on the site and hope to show off my skills in a
* multitude of ways soon.  Oh, if you haven't seen this twerk fail video, you must.  Please don't blame me for lost 
* productivity: http://www.youtube.com/watch?v=CddMD3QqTFs
*
* Contact me: rosschapman@gmail.com or @internetross
*/


body {
	background: #fefefe;
	font-family: 'Source Sans Pro', sans-serif;
	padding:0;
	margin:0;
}

.jay-z {
	height: 100%;
	width: 100%;
	background: black;
	position:fixed;
	z-index:1;
	opacity:0;
	top:0;
}

.container {
	width: 1024px;
	padding: 0 3%;
	margin: 50px auto 0;
	overflow:hidden;
}

@media (max-width: 480px) {
	.container {
		width: auto;
		padding: 0 10%;
	}
}

.header {
	float:left;
	width: 200px;
	margin-bottom:30px;
}

@media (max-width: 480px) { 
	.header {
		float:none;
		width: 100%;
	}
}

p.header-copy {
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 1.6em;
	margin-top: 20px;
	color: #888;
	width: 90%;
}
.gravatar {
	border-radius: 50px;
}

@media (max-width: 480px) {
	.gravatar {
		position:inherit;
	}
}

.meta {
	margin:0 0 20px 0;
	font-weight: 200;
	font-size: 15px;
	line-height: 1;
	text-transform: uppercase;
	color: #CCC;
	letter-spacing: 1px;
}
@media (max-width: 480px) {
	.meta {
		border-top: 1px solid #ddd;
		padding-top:30px;
		margin-top:0;
		font-size:12px;
		margin-bottom:15px;
	}
}


.content {
	float:left;
	max-width: 750px;
	margin-left:35px;
}

@media (max-width: 480px) {
	.content {
		float:none;
		width: 100%;
		margin:0;
	}
}

p {
	line-height: 1.55em;
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 20px 0;
}

p.first {
	margin-top:0;
}

@media (max-width: 480px) {
	p {
		font-size: 16px;
		line-height: 22px;
	}
}

.photo {
	margin-top:50px;
	background: url('berries.jpg') no-repeat; /* courtesy of http://unsplash.com/ and http://www.behance.net/jassyonyae */
	background-size:cover;
	width: 100%;
	height: 300px;
	clear:both;
}

.js-jay-z {
	position:fixed;
	z-index:2;
	color: #eee;
	bottom:10px;
	right: 10px;
	cursor: pointer;
	font-size: 12px;
	text-align:center;
	width: 80px;
	border: 1px solid white;
	padding: 3px 5px 5px;
}