/*  RESETS */

* {
  box-sizing: border-box; /* Who wants their divs sticking out anyway?? */
}

body {
  background: black;
  position: relative;
}

p:first-child {
  margin-top: 0;
}

main {
  width: 700px;
  padding: 25px 40px;
  background: white;
  margin: 0 auto;
  box-shadow: 6px 7px 1px #656565;
}

main p:nth-last-child(3) {
  margin-bottom: 0;
}
main p:nth-last-child(2) {
  margin-top: 0;
}

small {
  display: block;
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}

figure {
  margin: 0 0 20px;
}

figure > img {
  max-width: inherit;
}

figcaption {
  margin-top: 1em;
  font-size: .6em;
  color: gray;
}

/* 
  TYPOGRAPHY
  
  I know it's unconventional to separate styling by purpose across 
  classes, but if you're personal website isn't a sandbox then you're
  doing it wrong I say!
*/

/* Fancy ampersand method courtesy of Lea Verou in CSS Secrets */
@font-face {
  font-family: Ampersand;
  src:  local('Baskerville'),
        local('Goudy Old Style'),
        local('Garamond'),
        local('Palatino');
  unicode-range: U+26;
}

body {
  font-variant: common-ligatures;
  font-size: 17px; /* a little bigger than default */
}
main {
  font-family: Ampersand, Helvetica, Arial, sans-serif;
  hyphens: manual;
  line-height: 1.5;
}

small {
  font-size: .7em;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 699px) {
    main {
      width: 100%;
      max-width: max-content;
      padding: 1em;
    }

    h2 {
      font-size: 1.3em;
      font-weight: bold;
    }

    figure,
    iframe {
      max-width: 100%;
    }
  }

  
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
