/* line 14, /Users/internetross/Sites/internetross/assets/css/main.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 19, /Users/internetross/Sites/internetross/assets/css/main.sass */
html, body {
  height: 100%;
}

/* line 22, /Users/internetross/Sites/internetross/assets/css/main.sass */
body {
  background-color: white;
  font: 19px/1.6 "Lato", georgia, serif;
  letter-spacing: 0.02em;
  color: #19272d;
}
@media only screen and (max-width: 22em) {
  /* line 22, /Users/internetross/Sites/internetross/assets/css/main.sass */
  body {
    font-size: 16px;
  }
}

/* line 30, /Users/internetross/Sites/internetross/assets/css/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 33, /Users/internetross/Sites/internetross/assets/css/main.sass */
h1 {
  margin-bottom: 1em;
}

/* line 36, /Users/internetross/Sites/internetross/assets/css/main.sass */
p {
  margin: 0 0 1em;
}

/* line 39, /Users/internetross/Sites/internetross/assets/css/main.sass */
a {
  text-decoration: none;
  font-weight: bold;
  color: #19272d;
}

/* line 44, /Users/internetross/Sites/internetross/assets/css/main.sass */
a:hover {
  color: gray;
}

/* line 47, /Users/internetross/Sites/internetross/assets/css/main.sass */
a:active {
  color: #19272d;
}

/* line 50, /Users/internetross/Sites/internetross/assets/css/main.sass */
img {
  margin-top: 20px;
}

/* line 53, /Users/internetross/Sites/internetross/assets/css/main.sass */
blockquote {
  margin-left: 20px;
  color: gray;
}

/* line 58, /Users/internetross/Sites/internetross/assets/css/main.sass */
.container {
  position: relative;
  z-index: 10;
  max-width: 34em;
  margin: 0;
  padding: 2em 3em;
  background: white;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 22em) {
  /* line 58, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .container {
    padding: 1em 1.3em;
  }
}

/* line 69, /Users/internetross/Sites/internetross/assets/css/main.sass */
.art {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 40em;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/jordan.jpg);
  background-position-x: 0;
}
/* line 82, /Users/internetross/Sites/internetross/assets/css/main.sass */
.art:hover {
  cursor: -webkit-grabbing;
}

/* line 85, /Users/internetross/Sites/internetross/assets/css/main.sass */
.posts {
  list-style-type: none;
}

/* line 88, /Users/internetross/Sites/internetross/assets/css/main.sass */
.posts li {
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: 30px;
}
@media only screen and (max-width: 22em) {
  /* line 88, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .posts li {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
/* line 96, /Users/internetross/Sites/internetross/assets/css/main.sass */
.posts li a {
  display: inline-block;
  width: 540px;
  margin-left: 20px;
  font-weight: 900;
}
@media only screen and (max-width: 22em) {
  /* line 96, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .posts li a {
    display: block;
    clear: left;
    margin-left: 0;
    width: auto;
  }
}

/* line 111, /Users/internetross/Sites/internetross/assets/css/main.sass */
header .title a {
  color: #ff00c0;
}
/* line 114, /Users/internetross/Sites/internetross/assets/css/main.sass */
header nav a {
  margin-right: 15px;
  font-weight: 200;
  color: #5e5e5e;
  font-size: 26px;
}

/* line 120, /Users/internetross/Sites/internetross/assets/css/main.sass */
section {
  margin: 2em 0;
}

/* line 123, /Users/internetross/Sites/internetross/assets/css/main.sass */
small {
  color: gray;
}

/* line 127, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post-title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
}
@media only screen and (max-width: 22em) {
  /* line 127, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .post-title {
    font-size: 24px;
    line-height: 1.3;
  }
}

/* line 136, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post-meta {
  clear: both;
  float: left;
  margin-top: 7px;
  color: #5e5e5e;
  font-weight: 700;
  font-size: 11px;
  border-radius: 3px;
  display: inline-block;
}

/* line 146, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post {
  clear: both;
  padding-bottom: 2em;
}
@media only screen and (max-width: 22em) {
  /* line 146, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .post {
    line-height: 1.6;
  }
}
/* line 153, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post h2 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 22em) {
  /* line 153, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .post h2 {
    font-size: 20px;
    line-height: 1.3;
  }
}
/* line 163, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0.4em 1em;
  margin-bottom: 2em;
  font-size: 0.9rem;
  white-space: pre-wrap;
}
@media only screen and (max-width: 22em) {
  /* line 163, /Users/internetross/Sites/internetross/assets/css/main.sass */
  .post pre {
    overflow: scroll;
  }
}
/* line 173, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}
/* line 177, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post code {
  padding: 0 0.2em;
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  font-size: 13px;
}
/* line 183, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post pre code {
  border: none;
}
/* line 186, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post pre.terminal {
  border: 1px solid black;
  background-color: #333333;
  color: white;
}
/* line 191, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post pre.terminal code {
  background-color: #333333;
}
/* line 194, /Users/internetross/Sites/internetross/assets/css/main.sass */
.post a:after {
  font-family: FontAwesome;
  content: " \f08e";
  font-size: 10px;
  position: relative;
  top: -8px;
  left: -2px;
}

/* line 202, /Users/internetross/Sites/internetross/assets/css/main.sass */
.glossary ul {
  list-style: none;
  clear: both;
  margin-top: 50px;
  margin-left: 0;
}

/* line 208, /Users/internetross/Sites/internetross/assets/css/main.sass */
.glossary li {
  margin-bottom: 20px;
}

/* line 211, /Users/internetross/Sites/internetross/assets/css/main.sass */
.glossary li div {
  height: auto !important;
}

/* line 214, /Users/internetross/Sites/internetross/assets/css/main.sass */
.glossary .term-name,
.glossary .term-name:visited {
  display: block;
  font-weight: 900;
  color: black;
  line-height: 1.3rem;
}

/* line 221, /Users/internetross/Sites/internetross/assets/css/main.sass */
.gravatar {
  border-radius: 100%;
}
