* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cs-overview {
  position: fixed;
  top: 30px;
  right: 100px;
  background: #eee;
  border-radius: 5px;
  max-width: 250px;
  padding: 30px; }

.cs-content {
  padding: 30px;
  max-width: 740px; }
  .cs-content h1 {
    margin-bottom: 10px; }
  .cs-content p {
    margin-bottom: 30px; }
